<style>
    .table {
        width: auto;
        display: block;
    }

    label{
        align-items: right;
    }

    .form-group{
        width: 70%;
    }

    .btn{
        background-color: #21B4B1;
        outline-color: none;
        color: white;
    }
</style>

<div class="container">
    <div class="row">
    <br>
    <div class = "col-8">
        <div class="col">
            <form action="/concerts/index" method="post">
                <h3>Find shows</h3>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="form-group">
                    <label for="date">Date:</label> <input class="form-control" type="date" name="date" value="<%=Date.today%>"><br>
                </div>
                <div class="form-group">
                    <label for="artist">Artist:</label> <input class="form-control" type="text" name="artist"><br>
                </div>
                <div class="form-group">
                    <label for="city">City:</label> <input class="form-control" type="text" name="city"><br>
                </div>
                <div class="form-group">
                    <input class="btn" type="submit" value="Find">
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <h3>Past Shows Attended</h3>

                <table>
                    <thead>
                        <td>Show details:</td>
                    </thead>
                <tbody>
                
                    <% @concerts_attended.each do |c| %>
                    <tr>
                   <td> 
                        <form action="/concerts/<%=c.concert.id%>">
                            <input type="submit" class="btn-link" value =" <%= c.concert.date %> <%= c.concert.band.name %> <%= c.concert.city %>" >
                        </form>
                    </td>
                </tr>
                    <% end %>
               
                </tbody>
                </table>
            </div>
            <div class="col">
                <a class="btn" href="/concerts/new">Add a show</a>
            </div>
        </div>

       
    </div>

    <div class="col-4">
        <div class="row">
            <h3>Friends</h3>
        </div>
        <table>
            <thead>
                <td>Names:</td>
            </thead>
            <tbody>
            <% @friends.each do |friend| %>
                <tr>
                    <td><a href="/users/<%= friend.id%>"><%=friend.first_name%> <%=friend.last_name%></a></td>

                </tr>
            <% end %>
            </tbody>
        </table>
        <br>
        <h4>Find friends</h4>
        <form action="/find_friend" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
                <input type="text" name="name">
            </div>
            <div class="form-group">
                <input class="btn" type="submit" value="Find">
            </div>
        </form>
        <div class="row">
            <h3>Band Wish List</h3>
        </div>
        <div class="row">
            <table>
                <thead>
                    <td>Names:</td>
                </thead>
                <tbody>
                <% if @wish %>
                    <% @wish.each do |w| %>
                        <tr>
                            <td><a href="/bands/<%= w.id %>"><%=w.name%></a></td>
                        </tr>
                    <% end %>
                <% end %>
                </tbody>
            </table>
        </div>
        <%= content_tag :div, id:"cities", data: {temp: @cities} do |c|%>
        <% end %>
        <div class = "col-md-6">
        
            <body onload="initialize(), codeAddress()">
            <div id="map" style="width: 320px; height: 480px;"></div>
        
            <script>
            var geocoder;
            var map;
            function initialize() {
            geocoder = new google.maps.Geocoder();
            //coords in LatLng() is where the map will center to when initialized
            var latlng = new google.maps.LatLng(37.6, -121.7);
            var mapOptions = {
            zoom: 7,
            center: latlng
            }
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            }
    
            //array of coords to render as markers
            var locations = $('#cities').data('temp')
            console.log(locations)
            //iterate through each coord pair and create a marker on the map
            function codeAddress(){
            for (var i=0;i<locations.length;i++){
            geocoder.geocode( { 'address': locations[i]}, function(results, status) {
            if (status == 'OK') {
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
            });
            }
            }
    

        
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZlytKX1vyVfQi2Lw-1Zfuu1xKKFho68o&libraries=places&callback=initAutocomplete"
                async defer>
                
                </script>
                </div>
    </div>

    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    </div>

</div>
